@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    box-sizing: border-box;
}

::selection {
  background-color: black;
  color: white;
}

br {
  user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 3px 8px 1px rgb(175,175,175);
}

.logo {
    color: rgb(0, 0, 0);
    font-size: -2.5rem;
    margin: -.5rem;
    margin-left: 30px;
}

.sections {
    height: 100%;
}

.sections ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.sections li {
    list-style: none;
    font-size: 20px;
}

.sections li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 5px;
    margin-right: 8px;
}

#current_section {
    color: rgb(90, 90, 90);
}

.toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3.5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.about {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    padding: 25px;
    font-family: 'Noto Serif', serif;
}

.hello {
    font-family: 'Red Hat Text', sans-serif;
}

#name {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: context-menu;
    font-family: 'Red Hat Text', sans-serif;
    user-select: none;
}

#name::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: scaley(0.05);
    background: currentColor;
    mix-blend-mode: difference;
    transition: transform 0.25s;
    content: '';
}

#name:focus {
    outline: none;
}

#name:focus::after, #name:hover::after {
    transform: none;
}

.connect_with_me {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
}

.socialmedia a {
    margin: 25px;
}

.youtube, .twitter, .mailicon {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    color: black;
}

.mailicon {
    margin: 25px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.section2 {
    padding-top: 0px;
}

.header {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 35px;
}

#aicon, #isicon, #bnicon, #appsicon {
    display: block; 
    margin: auto;
}

.articles {
    padding-top: 200px;
}

.articles, .book-notes, .idea-snippets, .apps {
    text-align: center;
}

.book-notes, .idea-snippets, .apps {
    padding-top: 150px;
}

.text {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-align: left;
    padding: 20px;
}

.latest {
    color: rgb(90, 90, 90);
}

.pagelink {
    color: rgb(90, 90, 90);
}

#section3 {
    padding-top: 160px;
}

.mailheader {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 35px;
    text-align: center;
}

.mailtext {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
}

#formname {
    margin: 0 auto;
    outline: none;
    height: 50px;
    font-size: 16px;
    display: block;
    border-width: 0.5px;
    border-style: solid, black;
    font-family: 'Red Hat Text', sans-serif;
}

#formemail {
    margin-top: 15px;
    margin: 0 auto;
    outline: none;
    height: 50px;
    font-size: 16px;
    display: block;
    border-width: 0.5px;
    border-style: solid, black;
    font-family: 'Red Hat Text', sans-serif;
}

#formmessage {
    margin: 0 auto;
    outline: none;
    font-size: 14px;
    display: block;
    border-width: 0.5px;
    border-style: solid, black;
    padding-bottom: 100px;
    resize: none;
    font-family: 'Red Hat Text', sans-serif;
}

#formsubmit {
    margin: 0 auto;
    height: 50px;
    width: 187px;
    display: block;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    display: grid;
    font-size: 16px;
    font-family: 'Red Hat Text', sans-serif;
    background-color: rgb(240, 240, 240);
    -moz-box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
    box-shadow: 0 -3px 6px rgb(175,175,175);
    height: 50px;
    margin-top: 100px;
}

.copyright {
    margin: auto;
}

form {
    align-items: center;
    justify-content: center;
}

@media (min-width: 800px) {
    .sections li a:hover {
        color: #32B4FF;
        transition: 0.3s all;
    }

    .hello span:hover {
        text-decoration: underline;
        cursor: context-menu;
    }

    .about span:hover {
        cursor: context-menu;
    }

    .connect_with_me span:hover {
        text-decoration: underline;
        cursor: context-menu;
    }

    #youtubeicon:hover {
        fill: red;
        transition: 0.3s all;
    }

    #twittericon:hover {
        fill: rgb(29, 161, 242);
        transition: 0.3s all;
    }
    
    #mailicon:hover {
        fill: #ff8533;
        transition: 0.3s all;
    }

    .header span:hover {
        text-decoration: underline;
        cursor: context-menu;
    }

    .latest:hover, .pagelink:hover, .apps a:hover {
        color: #32B4FF;
        transition: 0.3s all;
    }

    .mailheader span:hover {
        text-decoration: underline;
        cursor: context-menu;
    }

    #formsubmit:hover {
        background-color: #32B4FF;
        color: black;
        transition: linear, 0.3s all;
    }
}  

@media (min-width: 1700px) {
    .text {
        font-size: 30px;
    }

    .articles {
        padding-top: 550px;
    }

    .connect_with_me {
        font-size: 30px;
        padding-top: 220px;
    }

    .socialmedia span {
        font-size: 25px;
    }

    #youtubeicon, #twittericon, #discordicon {
        width: 100px;
        height: 100px;
    }

    .mailtext {
        font-size: 30px;
        text-align: center;
    }

    .section3 {
        padding-top: 500px;
        padding-bottom: 500px;
    }
}

@media (min-width: 1024px) {
    .text {
        padding-left: 300px;
        padding-right: 300px;
    }

    .mailtext {
        padding-left: 300px;
        padding-right: 300px;
    }

    #formname, #formemail, #formmessage {
        width: 50vw;
    }
}

@media (max-width: 1024px) and (min-width: 700px) {
    .connect_with_me {
        padding-top: 60px;
    }

    .section2 {
        padding-top: 80px;
    }

    .text {
        padding-left: 150px;
        padding-right: 150px;
    }

    .mailtext {
        padding-left: 150px;
        padding-right: 150px;
    }

    #formname, #formemail, #formmessage {
        width: 60vw;
    }
}

@media (max-width: 800px) {
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    }

    .toggle-button {
    display: flex;
    }

    .logo {
    margin-left: 15px;
    }

    .sections {
    display: none;
    width: 100%;
    }

    .sections ul {
    width: 100%;
    flex-direction: column;
    }

    .sections ul li {
    background-color: rgb(243, 243, 243);
    text-align: right;
    }

    .sections ul li a {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 0px;
    transition: step-start, 0.3s all;
    }

    .sections.active {
    display: flex;
    }

    .about {
       font-size: 35px;
    }

    #youtubeicon {
        fill: red;
        transition: 0.3s all;
    }

    #twittericon {
        fill: rgb(29, 161, 242);
        transition: 0.3s all;
    }
    
    #mailicon {
        fill: #ff8533;
        transition: 0.3s all;
    }
}

@media (max-width: 700px) {
    #formname, #formemail {
        width: 90vw;
    }

    #formmessage {
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .about {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .about {
        font-size: 25px;
    }
}

@media (max-width: 300px) {
    .youtube span, .twitter span, .discord span {
        font-size: 12px;
    }

    #youtubeicon, #twittericon, #discordicon {
        width: 30px;
        height: 30px;
    }

    .socialmedia a {
        margin: 10px;
    }

    .logo {
        margin-left: 2px;
    }
}
